- id: 1
  code: icbc
  currency: inr
  deposit: true
  withdraw: true
- id: 2
  code: cbc
  currency: inr
  deposit: true
  withdraw: true
- id: 3
  code: bc
  currency: inr
  deposit: true
  withdraw: true
- id: 4
  code: bcm
  currency: inr
  deposit: true
  withdraw: true
- id: 5
  code: abc
  currency: inr
  deposit: true
  withdraw: true
- id: 6
  code: cmb
  currency: inr
  deposit: true
  withdraw: true
- id: 7
  code: cmbc
  currency: inr
  deposit: true
  withdraw: true
- id: 8
  code: cncb
  currency: inr
  deposit: true
  withdraw: true
- id: 9
  code: hxb
  currency: inr
  deposit: true
  withdraw: true
- id: 10
  code: cib
  currency: inr
  deposit: true
  withdraw: true
- id: 11
  code: spdb
  currency: inr
  deposit: true
  withdraw: true
- id: 12
  code: bob
  currency: inr
  deposit: true
  withdraw: true
- id: 13
  code: ceb
  currency: inr
  deposit: true
  withdraw: true
- id: 14
  code: sdb
  currency: inr
  deposit: true
  withdraw: true
- id: 15
  code: pab
  currency: inr
  deposit: true
  withdraw: true
- id: 16
  code: gdb
  currency: inr
  deposit: true
  withdraw: true

